flows/spotify/get_bearer.yml
id: get_bearer
namespace: spotify

tasks:

  - id: get_new_auth
    type: io.kestra.plugin.fs.http.Request
    uri: https://accounts.spotify.com/api/token
    method: POST
    contentType: "application/x-www-form-urlencoded"
    headers:
      Authorization: "Basic {{ envs.spotify_client_id ~ ':' ~ envs.spotify_client_secret | base64encode }}"
    formData:
      grant_type: 'refresh_token'
      refresh_token: '{{ envs.spotify_refresh_token }}'


  - id: bearer
    type: io.kestra.core.tasks.debugs.Return
    format: "{{ json(outputs.get_new_auth.body).access_token }}"
