flows/demo/ftp.yml
id: ftp
namespace: demo.kestra

description: |
  Here is the docker command to emulate a FTP server locally
  ```
  docker container run -d \
    -p 21:21 \
    -p 21000-21010:21000-21010 \
    -e USERS="one|1234" --network kestra-net \
    --name local_ftp \
    delfer/alpine-ftp-server
  ```

  if you want to log in with a shell
  ```
  docker exec -it local_ftp /bin/sh
  ```

tasks:

  - id: download
    type: io.kestra.plugin.fs.http.Download
    uri: https://raw.githubusercontent.com/kestra-io/datasets/main/csv/salaries.csv


  - id: ftp_upload
    type: io.kestra.plugin.fs.ftp.Upload
    host: host.docker.internal
    port: "21"
    username: one
    password: "1234"
    from: "{{ outputs.download.uri }}"
    to: "./input/data.csv"
