flows/demo/notification.yml
id: notification
namespace: demo.kestra

labels:
  tag: ALERTING

tasks:

  - id: download_file
    type: io.kestra.plugin.fs.http.Download
    uri: https://raw.githubusercontent.com/kestra-io/datasets/main/csv/salaries.csv
  
  - id: duckdb_query
    type: io.kestra.plugin.jdbc.duckdb.Query
    inputFiles:
      data.csv: '{{ outputs.download_file.uri }}'
    sql: |
      SELECT job_title, AVG(salary) 
      FROM read_csv_auto('{{workingDir}}/data.csv')
      GROUP BY job_title
      LIMIT 5
    fetch: true

  - id: send_messages
    type: io.kestra.core.tasks.flows.EachParallel
    value: '{{ outputs.duckdb_query.rows }}'
    tasks:
      - id: slack_message
        type: io.kestra.plugin.notifications.slack.SlackIncomingWebhook
        url: "{{ secret('SLACK_WEBHOOK')}}"
        payload: |
          {
            "channel": "U052JMPLBM3",
            "text": {{ taskrun.value | json }}
          }