flows/demo.databricks/query_python.yml
id: query_python
namespace: demo.databricks
description: |
    This flow demonstrates how to run a SQL query on a Databricks warehouse.

tasks:
  - id: query
    type: io.kestra.plugin.databricks.sql.Query
    host: '{{ secret("DATABRICKS_HOST") }}'
    httpPath: /sql/1.0/warehouses/08fd62156cbf5285
    accessToken: '{{ secret("DATABRICKS_TOKEN") }}'
    sql: SELECT * FROM samples.nyctaxi.trips LIMIT 100;

  - id: csv
    type: io.kestra.plugin.serdes.csv.CsvWriter
    from: "{{ outputs.query.uri }}"

  - id: pandas
    type: io.kestra.plugin.scripts.python.Script
    warningOnStdErr: false
    beforeCommands:
      - pip install kestra pandas > /dev/null
    script: |
      import pandas as pd
      df = pd.read_csv("{{outputs.csv.uri}}")
      print(df.head())