flows/dev.test-loop.yml
id: test-loop
namespace: dev

tasks:
  - id: each
    type: io.kestra.core.tasks.flows.EachSequential
    value: '["value1", "value2", "value3"]'
    tasks:
      - id: test
        type: io.kestra.core.tasks.flows.Subflow
        namespace: dev
        flowId: test_subflow
        inputs:
          some_value: "{{ taskrun.value }}"
        outputs:
          generated: start_api_call.outputFiles.generated
    
  - id: concat
    type: io.kestra.core.tasks.storages.Concat
    files:
      - "{{ outputs.test.value1.outputFiles.generated }}"
      - "{{ outputs.test.value2.outputFiles.generated }}"
      - "{{ outputs.test.value3.outputFiles.generated }}"