flows/training/metrics.yml
id: metrics
namespace: training

tasks:
  - id: download_file
    type: io.kestra.plugin.fs.http.Download
    uri: https://raw.githubusercontent.com/kestra-io/datasets/main/csv/salaries.csv

  - id: upload_s3
    type: io.kestra.plugin.aws.s3.Upload
    accessKeyId: '{{ secret("AWS_KEY")}}'
    secretKeyId: '{{ secret("AWS_SECRET") }}'
    region: 'eu-north-1'
    from: '{{ outputs.download_file.uri }}'
    bucket: 'kestra-training'
    key: 'training/metrics.csv'
    # https://aws.amazon.com/s3/pricing/
  