flows/training/show_task_default.yml
id: show_task_default
namespace: training

tasks:

  - id: download
    type: io.kestra.plugin.fs.http.Download
    uri: https://raw.githubusercontent.com/kestra-io/datasets/main/csv/salaries.csv

  - id: upload_s3
    type: io.kestra.plugin.aws.s3.Upload
    from: "{{ outputs.download.uri }}"
    bucket: "kestra-training"
    key: some_data.csv

taskDefaults:
  - type: io.kestra.plugin.aws.s3.Upload
    values:
      accessKeyId: "{{ secret('AWS_KEY')}}"
      secretKeyId: "{{ secret('AWS_SECRET') }}"
      region: "eu-north-1"
